@import '../index.scss';

.library {
   position: relative;

   &__title {
      @include adaptiv-value('font-size', 65, 32, 0);
      font-weight: 900;
      line-height: 1.09;
   }

   &__text {
      @include adaptiv-value('font-size', 18, 13, 0);
      font-weight: 500;
      line-height: 168.7%;
      max-width: 950px;
   }

   &__books-wrapper {
      @include adaptiv-value('padding-top', 40, 20, 0);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 40px;
   }

   @media (max-width:$tablet) {
      &__books-wrapper {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 10px;
         row-gap: 20px;
      }
   }

   @media (max-width:425px) {
      &__books-wrapper {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 10px;
         row-gap: 20px;
      }
   }

   //pagination
   &__pagination {
      display: flex;
      justify-content: center;
      padding-top: 65px;
      padding-bottom: 65px;
   }

   &__pagination-list {
      display: flex;
      gap: 7px;
   }

   &__pagination-item {
      border-radius: 10px;
      background: #1B2133;


   }

   &__pagination-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 73px;
      height: 73px;
      border-radius: 10px;
      color: #FFF;
      @include adaptiv-value('font-size', 25, 18, 0);
      font-weight: 600;
   }

   &__pointers {
      width: 73px;
      height: 73px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: 600;
   }

   &__arrow-prev,
   &__arrow-next {
      width: 73px;
      height: 73px;
      border-radius: 10px;
      background: #1B2133;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg * {
         fill: rgba(255, 255, 255, 0.50);
      }
   }

   &__arrow-next {
      svg * {
         fill: #FFF;
      }
   }
}

.library_link-active {
   background: #3657CB;
}

.bread-crumbs {
   padding-top: 15px;
   padding-bottom: 15px;

   &__list {
      display: flex;
      gap: 30px;
   }

   &__link {
      color: #4F5B7C;
      font-size: 16px;
      font-weight: 500;
      position: relative;
   }

   &__list &__item:not(:last-child) &__link::before {
      content: '';
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      background: url('../img/library/arrow.svg') no-repeat center center / cover;
      width: 6px;
      height: 9px;
   }

   &__list &__item:last-child &__link {
      color: #FFF;
   }
}